* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* header, contenido universal==== */
header { 
    background-color: #EAC926;
    margin: auto;
    width: auto;

 }


body{
    background-color: #ebebee;
    font-family: 'Roboto';
     margin: 0px;      
}


main {
    background-color: #ebebeb; 
    margin: auto;
    background-color: #ebebeb;
    align-content: right;
    width: 90%;   
}

.elements {
 display: flex;
 flex-wrap: wrap;
}

.siteCat{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    
}
.login2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.cat1,
.cat2,
.cat3,
.cat4,
.site-ut1,
.site-ut2,
.site-ut3 {
    padding: 6px;
}

.logoYBus {
    display: flex;
 
}

.logo {

  box-sizing: content-box;
  width: 50%;
  margin: 15px 5px;

}

.navbar {
    visibility: visible;
    display: flex;
    justify-content: space-around;
}

.cajaBus {
    flex: 1 1 auto;
    display: flex;
    height: 20px;
}

.botonBus{
    text-align: center;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    
}

.ofertaTarj{
    margin-top: 10px;
    text-align: center;

}

    h3 {
     font-size: 20px;
       left: -35%;
       text-align: justify;

    }
    .precio {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        flex: 1 1 30%;
    }

    .descuento {
        color: #39b54a;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        flex: 1 1 70%;
    }

    .desc {
        display: none;      
        flex: 1 1 100%;
        text-align: left;
        color: #b1b1b1;
        font-size: 18px;
        margin-top: 12px;
        margin-bottom: 12px;             
    }

    footer {
        text-align: center;
        color: #666;
        font-size: 10px;
        display: flex;
        flex-direction: row;
    }

    .h5 {
        text-align: center;
    }

    .titulofoot{
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 2px;
    }

    .textofoot{
        margin-top: 1px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .banner {
        margin: auto;
    }

   footer i {
        color: #1259c3;
        margin-bottom: 10px;
    }

    footer i:hover {
        color: #39b54a;
     }


    /* home==== */
    main section h3{
        left: -37%;
        font-size: 24px;
    
    }
 
    .contentArticles {
        display: flex;
        flex-wrap: wrap;
    }

   items:hover{
        box-shadow: 3px 3px 10px  rgb(100, 100, 100);
    }

   .items {
        transition-duration: 0.5ms;
        font-size: 16px;
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        margin: 20px;
        width: 75%;
        border-top: 1px solid #ebebeb;

    }

.burger-menu{
    text-align: center;
}
.burger-menu i{
    background-color: #1259c3;
    color: #ebebee;
    border-image-width: 50%;
}


.fa-truck {
    color: #39b54a;
    padding: 10px 8px;
    border: 1px solid #39b54a;
    border-radius: 70px;
    margin: 0px;
    padding: 0px;
    position: relative;
    right: -90%;
    bottom: 30px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

.inform {
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}



.detalle {
    display: flex;
    flex-wrap: wrap;
}

 /*registro==== */

 .registracion {
     margin: 50px;
     padding:10px;
 }

 .formularioCont{ 
 font-size: 19px;
 margin-top: 50px;
 margin-bottom:50px;
 padding: 5px;
 text-align: center;

  }

  .h6 {
      font-weight: bold;
  }

.boton{
        background-color: #39b54a;
        border: none;
        color: white;
        text-decoration: black;
        padding: 10px 15px;
        text-align: center;
        border-radius: 8px;
        display: inline-block;
        font-size: 13px;
        margin: 5px;
      }

      .boton-send{
        background-color: #39b54a;
        border: none;
        color: white;
        text-decoration: black;
        padding: 10px 15px;
        text-align: center;
        border-radius: 8px;
        display: inline-block;
        font-size: 13px;
        margin: 5px;
        transition-duration: 0.5ms;
      }

      .boton-send:hover {
        background-color:#0022AA;
      }


  /*login==== */
  .boton-send{
    background-color: #39b54a;
    border: none;
    color: white;
    text-decoration: black;
    padding: 10px 15px;
    text-align: center;
    border-radius: 8px;
    display: inline-block;
    font-size: 13px;
    margin: 5px;
    transition-duration: 0.5ms;
  }

  .boton-send:hover {
    background-color:#0022AA;
  }
  
  input:required:valid {
    border: 3px solid green;
  }

  input:required:invalid {
    border: 3px solid #c00000;
  }

    /* responsive==== */
@media (min-width: 361px){
    .navbar {
        display:none;
        margin-top: 25px;
        margin-bottom: 0px;
        margin-right: 25px;
    }

    .siteLogin {
        display: none;

    }

    h4{
        display: block;
    }

    .items {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40%;
    }

    .desc {
    transition-duration: 0.5ms;
    display: none;
    color:#fff;
    }

    .desc:hover {
       color :#b1b1b1;
    }
     
    .contentArticles {
        display: flex;
        flex-wrap: wrap;
    }
        

}  


    @media screen and (min-width: 768px){
   
        .burger-menu {
            display:none;
        }
    
        .navbar {
            display: block;
            margin-top: 25px;
            margin-bottom: 0px;
            margin-right: 25px;

        }
    
    
        .desc {
            display: block;
        }
    
        .siteLogin {
            display:block;
        }


        .items {
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
            width: 21%;
        }
    
        .contentArticles {
            display: flex;
            flex-wrap: wrap;
        }

         
    
    }



    